@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
    font-size: 62.5%;
    height: 100%;
    background-color: #fff;
    color: #151515;
}

body {
    font: normal 16px/1.5em 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, Georgia, serif;
    height: 100%;
}

p code {
    background: #f5f5f5;
    color: #505050;
    padding: 1px 3px;
    border-radius: 3px;
}

a:link {
    text-decoration: underline;
    color: blue;
}
a:visited {
    color: purple;
}

ol, ul {
    margin-left: 10px;
}
ol li {
    list-style: decimal;
}
ul li {
    list-style: disc;
}

strong { font-weight: bold }
em { font-style: italic }

h1, h2, h3 {
  margin-bottom: 16px;
}

h1 {
    line-height: 50px;
    font-size: 32px;
    font-weight: normal;
}

h2 {
    font-size: 26px;
    margin-top: 26px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #bbb;
}

hr {
    margin: 32px 0;
    border: 0;
    border-bottom: 1px dotted #000;
}

p {
    margin: 16px 0;
}

dd {
    margin: 0 0 16px 32px;
}

#main {
  margin-left: 200px;
}

#content {
  padding: 32px 0;
  width: 640px;
  float: left;
}

#blurb {
    font-size: 22px;
    color: #999;
}

#sidebar {
    color: #777;
    margin-top: 96px;
    padding-left: 32px;
    height: 100%;
    float: left;
}
#sidebar ol {
  margin-left: 0;
}
#sidebar ol ol {
  padding: 0 0 0 20px;
}
#sidebar ol li {
  list-style-type: none;
  font-size: 14px;
}
#sidebar ol a {
  background: #5d4c4c;
  line-height: 26px;
  padding: 0 6px;
  margin-bottom: 5px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
}
#sidebar ol li a:visited {
  background: #8cb287;
}
#sidebar ol .active a {
  background: #ebb263 !important;
  -webkit-animation: wiggle-build 0.5s infinite;
}

@-webkit-keyframes wiggle-build {
  0% { -webkit-transform: rotate(1deg); }
  50% { -webkit-transform: rotate(-1deg); }
  100% { -webkit-transform: rotate(1deg); }
}


pre a:link,
pre a:visited,
code a:link,
code a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
pre a:hover,
code a:hover {
    border-bottom-color: #333;
}

blockquote {
    margin-left: 32px;
}

table p {
    margin: 5px 0;
}
table th, table td {
    padding: 0 5px;
}

.centered {
    text-align: center;
}
.smaller {
    font-size: 82%;
}
.larger {
    font-size: 122%;
}

img.pipeline {
    width: 100%;
}
